.classic-card {
  background: #ffffff;
  border: 1px solid #e5e7eb; /* subtle gray border */
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  /* padding: 1.5rem; */
  height: 12rem; /* smaller height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.classic-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

@keyframes spin-reverse {
  100% { transform: rotate(-360deg); }
}

.animate-spin-reverse {
  animation: spin-reverse 4s linear infinite;
}

.perspective {
  perspective: 1200px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
